@font-face{
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("/barber2/fonts/PTSansNarrow-Regular.woff") format(woff), url("/barber2/fonts/PTSansNarrow-Regular.woff2") format(wpff2);
}
@font-face{
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("/barber2/fonts/PTSansNarrow-Bold.woff") format("woff"), url("/barber2/fonts/PTSansNarrow-Regular.woff2") format("woff2");
}