.news{
  position: relative;
  margin: 0;padding: 0;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 35px;
    background: linear-gradient(to right top, transparent 48.5%, $bg-darkgrey 50%) left / 50.025% 100% no-repeat,
    linear-gradient(to left top, transparent 48.5%,  $bg-darkgrey 50%) right / 50.025% 100% no-repeat;
    z-index: 999;
  }
}

.news__wrapper{
  background-color: #f8f5f2;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}
.news__title{
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow";
  text-align: center;
  margin: 0;
  margin-top: 30px;
}
.news__text{
  // width: 90%;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow";
  font-weight: 400;
}
.news__date{
  position: relative;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  // background-color: #000000;
}
.flag{
  background-color: #000000;
  min-width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 12px;
  display: inline-block;
  position: relative;
  &::after{
    content: '';
    border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
    border-top: 10px solid #000000;
    position: absolute;
    top: 50px;

  }
  
}
.news__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__day{
  font-size: 30px;
}
.news__list{
  list-style: none;
}
.news__to-all{
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0px 20px 0px 20px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #e5ddd5;
  text-align: center;
  text-decoration: none;
  color: #000000;
}